@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

@* <partial name="_StatusMessage" for="StatusMessage" /> *@
@* <div class="row"> *@
@*     <div class="col-md-6"> *@
@*         <form id="change-password-form" method="post"> *@
@*             <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
@*             <div class="form-floating"> *@
@*                 <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" /> *@
@*                 <label asp-for="Input.OldPassword" class="form-label"></label> *@
@*                 <span asp-validation-for="Input.OldPassword" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-floating"> *@
@*                 <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" /> *@
@*                 <label asp-for="Input.NewPassword" class="form-label"></label> *@
@*                 <span asp-validation-for="Input.NewPassword" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-floating"> *@
@*                 <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" /> *@
@*                 <label asp-for="Input.ConfirmPassword" class="form-label"></label> *@
@*                 <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span> *@
@*             </div> *@
@*             <button type="submit" class="w-100 btn btn-lg btn-primary">Update password</button> *@
@*         </form> *@
@*     </div> *@
@* </div> *@
<div class="tab-pane fade show active" role="tabpanel">
    <div class="row">
        <div class="col-12">
            <div class="sign__wrap">
                <div class="row">
                    <!-- password form -->
                    <div class="col-12">
                        <form action="#" class="sign__form sign__form--profile">
                            <div class="row">
                                <div class="col-12">
                                    <h4 class="sign__title">Change password</h4>
                                </div>

                                <div class="col-12">
                                    <div class="sign__group">
                                        <label class="sign__label" for="oldpass">Old password</label>
                                        <input id="oldpass" type="password" name="oldpass" class="sign__input">
                                    </div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="sign__group">
                                        <label class="sign__label" for="newpass">New password</label>
                                        <input id="newpass" type="password" name="newpass" class="sign__input">
                                    </div>
                                </div>

                                <div class="col-12  col-md-6">
                                    <div class="sign__group">
                                        <label class="sign__label" for="confirmpass">Confirm new password</label>
                                        <input id="confirmpass" type="password" name="confirmpass" class="sign__input">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="sign__btn" type="button">Change</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- end password form -->
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}