@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
    Layout = "_IdentityLayout";
}

<h1 class="sign__text">@ViewData["Title"]</h1>
<p class="sign__text">You do not have access to this resource.</p>