@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
    Layout = "_IdentityLayout";
}

<span class="sign__text">
    <partial name="_StatusMessage" model="Model.StatusMessage"/>
</span>