@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "_IdentityLayout";
}

<form method="post">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
    <div class="sign__group">
        <input type="email" asp-for="Input.Email" class="sign__input" aria-required="true" placeholder="Email">
        <span asp-validation-for="Input.Email" class="text-danger invalid-message"></span>
    </div>
    <button class="sign__btn" type="submit">Send</button>
</form>
<span class="sign__text">We will send a password to your Email.</span>