@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "_IdentityLayout";
}

<span class="sign__text">Please check your email to reset your password.</span>