@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "_IdentityLayout";
}

<p class="sign__text">Reset your password.</p>
<form method="post">
    <div asp-validation-summary="ModelOnly" class="sign__alert sign__alert-danger"></div>
    <input asp-for="Input.Code" type="hidden" />
    <div class="sign__group">
        <input asp-for="Input.Email" class="sign__input" placeholder="Email" autocomplete="username" aria-required="true" />
        <span asp-validation-for="Input.Email" class="text-danger invalid-message"></span>
    </div>
    <div class="sign__group">
        <input asp-for="Input.Password" class="sign__input" placeholder="Password" autocomplete="new-password" aria-required="true" />
        <span asp-validation-for="Input.Password" class="text-danger invalid-message"></span>
    </div>
    <div class="sign__group">
        <input asp-for="Input.ConfirmPassword" class="sign__input" placeholder="Confirm Password" autocomplete="new-password" aria-required="true" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger invalid-message"></span>
    </div>
    <button class="sign__btn" type="submit">Reset</button>
</form>
