@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<partial name="_StatusMessage" for="StatusMessage"/>
<div class="tab-pane fade show active" role="tabpanel">
    <div class="row row--grid">
        <!-- stats -->
        <div class="col-12 col-md-4">
            <div class="stats">
                <span>My balance <a href="#modal-topup" class="open-modal">top up</a></span>
                <p>
                    <b>@Model.Balance.ToString("N0") coin</b>
                </p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M6,11a1,1,0,1,0,1,1A1,1,0,0,0,6,11Zm12,0a1,1,0,1,0,1,1A1,1,0,0,0,18,11Zm2-6H4A3,3,0,0,0,1,8v8a3,3,0,0,0,3,3H20a3,3,0,0,0,3-3V8A3,3,0,0,0,20,5Zm1,11a1,1,0,0,1-1,1H4a1,1,0,0,1-1-1V8A1,1,0,0,1,4,7H20a1,1,0,0,1,1,1ZM12,9a3,3,0,1,0,3,3A3,3,0,0,0,12,9Zm0,4a1,1,0,1,1,1-1A1,1,0,0,1,12,13Z"/>
                </svg>
            </div>
        </div>
        <!-- end stats -->

        <!-- stats -->
        <div class="col-12 col-md-4">
            <div class="stats">
                <span>Your comments</span>
                <p>
                    <a href="#">2 573</a>
                </p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M8,11a1,1,0,1,0,1,1A1,1,0,0,0,8,11Zm4,0a1,1,0,1,0,1,1A1,1,0,0,0,12,11Zm4,0a1,1,0,1,0,1,1A1,1,0,0,0,16,11ZM12,2A10,10,0,0,0,2,12a9.89,9.89,0,0,0,2.26,6.33l-2,2a1,1,0,0,0-.21,1.09A1,1,0,0,0,3,22h9A10,10,0,0,0,12,2Zm0,18H5.41l.93-.93a1,1,0,0,0,.3-.71,1,1,0,0,0-.3-.7A8,8,0,1,1,12,20Z"></path>
                </svg>
            </div>
        </div>
        <!-- end stats -->

        <!-- stats -->
        <div class="col-12 col-md-4">
            <div class="stats">
                <span>Your reviews</span>
                <p>
                    <a href="#">1 021</a>
                </p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,1l4.13,4-1,5.68A1,1,0,0,0,6.9,21.44L12,18.77l5.1,2.67a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.88l.72,4.2-3.76-2a1.06,1.06,0,0,0-.94,0l-3.76,2,.72-4.2a1,1,0,0,0-.29-.88l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z"/>
                </svg>
            </div>
        </div>
        <!-- end stats -->
    </div>
    @* <div class="row"> *@
    @*     <div class="col-12"> *@
    @*         <div class="sign__wrap"> *@
    @*             <div class="row"> *@
    @*                 <div class="col-12"> *@
    @*                     <form action="#" class="sign__form sign__form--profile"> *@
    @*                     </form> *@
    @*                 </div> *@
    @*             </div> *@
    @*         </div> *@
    @*     </div> *@
    @* </div> *@
</div>
<form asp-page-handler="TopUp" id="modal-topup" class="zoom-anim-dialog mfp-hide modal modal--form">
    <button class="modal__close" type="button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M13.41,12l4.3-4.29a1,1,0,1,0-1.42-1.42L12,10.59,7.71,6.29A1,1,0,0,0,6.29,7.71L10.59,12l-4.3,4.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0L12,13.41l4.29,4.3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42Z"/>
        </svg>
    </button>

    <h4 class="sign__title">Replenishment</h4>

    <div class="sign__group sign__group--row">
        <label class="sign__label">Your balance:</label>
        <span class="sign__value">@Model.Balance.ToString("N0") coin</span>
    </div>

    <div class="sign__group sign__group--row">
        <label class="sign__label" for="value">Choose amount:</label>
        <select class="sign__select" id="value" asp-for="InputTopUp.Amount">
            <option value="50">50 point</option>
            <option value="100">100 point</option>
            <option value="200">200 point</option>
        </select>
        <span class="sign__text sign__text--small">1 point ~ 1.000 VND.</span>
    </div>
    <button class="sign__btn" type="submit">Proceed</button>
</form>
@* <div class="row"> *@
@*     <div class="col-md-6"> *@
@*         <form id="profile-form" method="post"> *@
@*             <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
@*             <div class="form-floating"> *@
@*                 <input asp-for="Username" class="form-control" disabled /> *@
@*                 <label asp-for="Username" class="form-label"></label> *@
@*             </div> *@
@*             <div class="form-floating"> *@
@*                 <input asp-for="Input.PhoneNumber" class="form-control" /> *@
@*                 <label asp-for="Input.PhoneNumber" class="form-label"></label> *@
@*                 <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span> *@
@*             </div> *@
@*             <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button> *@
@*         </form> *@
@*     </div> *@
@* </div> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}